<div class="input-container">
  <input type="text" class="" autocomplete="off" id="cityData" placeholder="Начните вводить название">
  <div class="hidden error">Добавьте значение в справочник или выберите другое значение из списка</div>
  <div class="hidden error-server">
    <div class="error-server-message">Что-то пошло не так. Проверьте соединение с интернетом и попробуйте еще раз</div>
    <div class="error-server-retry">Обновить</div>
  </div>
  <div class="cities-list hidden"></div>
  <div class="hidden loader-container">
    <div class="loader"></div>
    <span class="loader-text">Загрузка</span>
  </div>
</div>
