<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/handlebars-v4.0.11.js" defer></script>
    <script type="text/javascript" src="/javascripts/main.js" defer></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>